<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Flask</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>


    <div class="container">
        <h1 class="text-center mt-4 mb-2">{{name}} School</h1>
        <img class="d-block mx-auto" id="banner" src="static/卡卡西.png" alt="卡卡西" width="300">
        <h2 class="text-center mt-4 mb-2">About {{name}}</h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate voluptatibus quasi nulla est eaque asperiores placeat ullam vero? Quasi voluptate amet officia eaque eum iure officiis pariatur fugit? Odio, cumque!</p>
        <h2 class="text-center mt-4 mb-2">Open Positions</h2>
        <div>
            {% for job in jobs %}
                {% include 'jobitem.html' %}
            {% endfor %}
        </div>
        <div class="text-center">
            <a href="mailto:ericarthuang2021@gmail.com?cc=ericarthuang2021@gmail.com&bcc=ericarthuang2021@gmail.com&subject=I%20have%20questions%20&body=My%20Name%20is%3A%20%0D%0A%0D%0A%0DMy%20Questions%20is%3A%20%0A%0D%0A%0D" class="btn btn-primary btn-lg">Contact Us</a>
            <p>Copyright 2022</p>
        </div>
    </div>
</body>
</html>